html,
body,
.form-select,
.form-control,
.select2-container--bootstrap-5 .select2-selection {
    font-size: 0.95rem !important;
}

:root {
    --bs-body-font-size: 0.95rem !important;
}

.btn {
    --bs-btn-font-size: 0.95rem !important;
}

.pagination {
    --bs-pagination-font-size: 0.95rem !important;
}


a {
    text-decoration: none;
}


#loading-screen {
    position: fixed;
    width: 100%;
    height: 100%;
    background: #f8f9fa;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

/* Gelombang Animasi */
.wave {
    display: flex;
    gap: 7px;
}

.wave span {
    width: 10px;
    height: 30px;
    background: #2CA9BC;
    animation: wave 1.2s infinite ease-in-out;
}

.wave span:nth-child(1) {
    animation-delay: 0s;
}

.wave span:nth-child(2) {
    animation-delay: 0.2s;
}

.wave span:nth-child(3) {
    animation-delay: 0.4s;
}

.wave span:nth-child(4) {
    animation-delay: 0.6s;
}

.wave span:nth-child(5) {
    animation-delay: 0.8s;
}

@keyframes wave {

    0%,
    100% {
        transform: scaleY(1);
    }

    50% {
        transform: scaleY(1.8);
    }
}



.bg-gd {
    --bs-table-bg: none;
    background: linear-gradient(270deg, #73c9cc 0%, #2CA9BC 100%) !important;
    border-radius: 0.5rem !important;
}

.bg-gd-rev {
    --bs-table-bg: none;
    background: linear-gradient(270deg, #2CA9BC 0%, #73c9cc 100%) !important;
    border-radius: 0.5rem !important;
}

div.dt-container div.dt-paging ul.pagination {
    gap: 5px !important;
}

.active>.page-link,
.page-link.active {
    background-color: #2CA9BC !important;
    border-color: #2CA9BC !important;
    color: #fff !important;
}

.page-link {
    color: #2CA9BC !important;
    border-radius: 0.5rem !important;
}

/* Pastikan wadah pagination menggunakan flexbox dan meratakan konten ke kanan */
div.dt-paging {
    display: flex;
    justify-content: flex-end;
}

/* Atur margin dan fleksibilitas elemen pagination */
div.dt-paging ul.pagination {
    margin: 2px 0;
    flex-wrap: wrap;
}

/* FilePond */
/* Atur kontainer FilePond sebagai flex container */
.filepond--list {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5em;
    /* Jarak antara item */
}

/* Atur item FilePond */
.filepond--item {
    flex: 1 1 calc(50% - 0.5em);
    /* Dua item per baris dengan jarak */
    box-sizing: border-box;
}

/* Pastikan overlay menutupi seluruh halaman dan berada di depan */
.filepond--fullsize-overlay {
    position: fixed !important;
    top: 0 !important;
    left: 0 !important;
    width: 100% !important;
    height: 100% !important;
    z-index: 9999 !important;
    background-color: rgba(0, 0, 0, 0.9) !important;
}

.filepond--credits {
    display: none;
}

/* STYLE MENU */
.hover\:text-gray-900:hover {
    color: rgb(44 169 188) !important;
    transform: scale(1.05) !important;
}

.hover\:bg-gray-100:hover {
    color: rgb(44 169 188) !important;
}

.active-menu {
    color: rgb(44, 169, 188) !important;
}